<section class="diarySection">
  <article class="sectionDiary" id="agenda">
    <h2 class="titleDiary">Agenda</h2>

    <div class="diary">


      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">9</span>
            <span>: 00</span>
          </div>
          <div>
            <span class="diary__time--ent">9</span>
            <span>: 30</span>
          </div>
        </div>
        <div class="diary__act">
          <p>Registro</p>
        </div>
      </div>

      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">9</span>
            <span>: 30</span>
          </div>
          <div>
            <span class="diary__time--ent">9</span>
            <span>: 45</span>
          </div>
        </div>
        <div class="diary__act">
          <p>Bienvenida</p>
        </div>
      </div>

      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">9</span>
            <span>: 45</span>
          </div>
          <div>
            <span class="diary__time--ent">10</span>
            <span>: 30</span>
          </div>
        </div>
        <div class="diary__presentations" onclick="openModal('Ponente 8')" id="ponente8">
          <p>Navega en el sector tech como un "pro" gracias tu ADN</p>
          <p>Paola García</p>
        </div>
      </div>

      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">10</span>
            <span>: 35</span>
          </div>
          <div>
            <span class="diary__time--ent">11</span>
            <span>: 00</span>
          </div>
        </div>
        <div class="diary__presentations" onclick="openModal('Ponente 5')" id="ponente5">
          <p>Crea tu propia Skill con Alexa</p>
          <p>Marta Romero</p>

        </div>
      </div>

      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">11</span>
            <span>: 05</span>
          </div>
          <div>
            <span class="diary__time--ent">11</span>
            <span>: 30</span>
          </div>
        </div>
        <div class="diary__presentations" onclick="openModal('Ponente 2')" id="ponente2">
          <p>¿Has oído? Accesibilidad para aplicaciones móviles.</p>
          <p>Ángeles Vázquez</p>
        </div>
      </div>

      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">11</span>
            <span>: 30</span>
          </div>
          <div>
            <span class="diary__time--ent">12</span>
            <span>: 15</span>
          </div>
        </div>
        <div class="diary__act">
          <p>Café Break</p>
        </div>
      </div>

      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">12</span>
            <span>: 15</span>
          </div>
          <div>
            <span class="diary__time--ent">13</span>
            <span>: 00</span>
          </div>
        </div>
        <div class="diary__presentations" onclick="openModal('Ponente 3')" id="ponente3">
          <p>Conversando con tus aplicaciones: la IA Generativa revoluciona el desarrollo de software</p>
          <p>Esther Mora</p>
        </div>

      </div>
      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">13</span>
            <span>: 05</span>
          </div>
          <div>
            <span class="diary__time--ent">13</span>
            <span>: 30</span>
          </div>
        </div>
        <div class="diary__presentations" onclick="openModal('Ponente 1')" id="ponente1">
          <p>Creando un backend en 5 min con AWS AppSync</p>
          <p>Ana Gil</p>

        </div>

      </div>

      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">13</span>
            <span>: 35</span>
          </div>
          <div>
            <span class="diary__time--ent">14</span>
            <span>: 00</span>
          </div>
        </div>
        <div class="diary__presentations" onclick="openModal('Ponente 6')" id="ponente6">
          <p>La inteligencia sobre las imágenes hoy: la visión artificial</p>
          <p>Natalia Mira</p>
        </div>
      </div>

      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">14</span>
            <span>: 10</span>
          </div>
          <div>
            <span class="diary__time--ent">15</span>
            <span>: 30</span>
          </div>
        </div>
        <div class="diary__act">
          <p>Comida</p>
        </div>
      </div>


      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">15</span>
            <span>: 30</span>
          </div>
          <div>
            <span class="diary__time--ent">16</span>
            <span>: 15</span>
          </div>
        </div>
        <div class="diary__presentations" onclick="openModal('Ponente 4')" id="ponente4">
          <p>DevOps, FinOps, GreenOps todo a la vez</p>
          <p>Marisa Martín</p>
        </div>
      </div>


      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">16</span>
            <span>: 20</span>
          </div>
          <div>
            <span class="diary__time--ent">16</span>
            <span>: 50</span>
          </div>
        </div>
        <div class="diary__presentations" onclick="openModal('Ponente 9')" id="ponente9">
          <p>Introducción a la API de Gemini para web apps</p>
          <p>Patty O'Callaghan</p>
        </div>
      </div>


      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">16</span>
            <span>: 50</span>
          </div>
          <div>
            <span class="diary__time--ent">17</span>
            <span>: 30</span>
          </div>
        </div>
        <div class="diary__act">
          <p>Break</p>
        </div>
      </div>

      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">17</span>
            <span>: 30</span>
          </div>
          <div>
            <span class="diary__time--ent">18</span>
            <span>: 15</span>
          </div>
        </div>
        <div class="diary__presentations" onclick="openModal('Ponente 7')" id="ponente7">
          <p>¡Alineación planetaria en CSS! Todas esas nuevas features nativas que por fin podemos usar en producción
          </p>
          <p>Noe Medina</p>
        </div>
      </div>


      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">18</span>
            <span>: 20</span>
          </div>
          <div>
            <span class="diary__time--ent">18</span>
            <span>: 45</span>
          </div>
        </div>
        <div class="diary__presentations" onclick="openModal('Ponente 10')" id="ponente10">
          <p>Sororidad práctica: estrategias y tácticas que contrarrestan la discriminación inconsciente</p>
          <p>Raquel Lainde</p>
        </div>
      </div>

      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">18</span>
            <span>: 45</span>
          </div>
          <div>
            <span class="diary__time--ent">19</span>
            <span>: 00</span>
          </div>
        </div>
        <div class="diary__act">
          <p>Cierre</p>
        </div>
      </div>

    </div>
  </article>

  <article class="modal hidden" id="myModal">
    <div class="modal__container" id="modalContent"><button class="modal__close" onclick="closeModal()">Volver</button>
    </div>
  </article>


</section>