<section class="diarySection">
  <article class="sectionDiary" id="agenda">
    <h2 class="titleDiary">Agenda</h2>

    <div class="diary">
      

      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">10</span>
            <span>: 00</span>
          </div>
          <div>
            <span class="diary__time--ent">10</span>
            <span>: 25</span>
          </div>
        </div>
        <div class="diary__act">
          <p>Acto de bienvenida</p>
        </div>
      </div>

      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">10</span>
            <span>: 25</span>
          </div>
          <div>
            <span class="diary__time--ent">11</span>
            <span>: 00</span>
          </div>
        </div>
        <div class="diary__presentations" onclick="openModal('Ponente 1')" id="ponente1">
          <p>"Lorem, ipsum dolor sit amet consectetur adipisicing elit"</p>
          <p> Cristina Rodríguez</p>
        </div>
      </div>

      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">11</span>
            <span>: 10</span>
          </div>
          <div>
            <span class="diary__time--ent">11</span>
            <span>: 30</span>
          </div>
        </div>
        <div class="diary__presentations" onclick="openModal('Ponente 2')" id="ponente2">
          <p>"Cómo teletrabajar con un buen café. Vete a un coworking"</p>
          <p>Ainhoa de las Heras</p>

        </div>
      </div>

      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">13</span>
            <span>: 10</span>
          </div>
          <div>
            <span class="diary__time--ent">13</span>
            <span>: 35</span>
          </div>
        </div>
        <div class="diary__presentations" onclick="openModal('Ponente 3')" id="ponente3">
          <p>"Cómo teletrabajar con un buen café. Vete a un coworking"</p>
          <p>Raquel Ortiz</p>

        </div>

      </div>

      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">11</span>
            <span>: 30</span>
          </div>
          <div>
            <span class="diary__time--ent">12</span>
            <span>: 15</span>
          </div>
        </div>
        <div class="diary__act">
          <p>Pausa</p>
        </div>
      </div>

      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">12</span>
            <span>: 25</span>
          </div>
          <div>
            <span class="diary__time--ent">13</span>
            <span>: 10</span>
          </div>
        </div>
        <div class="diary__presentations" onclick="openModal('Ponente 4')" id="ponente4">
          <p>"Cómo teletrabajar con un buen café. Vete a un coworking"</p>
          <p>Alba Ginés</p>

        </div>

      </div>
      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">13</span>
            <span>: 10</span>
          </div>
          <div>
            <span class="diary__time--ent">13</span>
            <span>: 35</span>
          </div>
        </div>
        <div class="diary__presentations" onclick="openModal('Ponente 5')" id="ponente5">
          <p>"Cómo teletrabajar con un buen café. Vete a un coworking"</p>
          <p>Aranzazu Barrutia</p>

        </div>

      </div>

      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">13</span>
            <span>: 10</span>
          </div>
          <div>
            <span class="diary__time--ent">13</span>
            <span>: 35</span>
          </div>
        </div>
        <div class="diary__presentations" onclick="openModal('Ponente 6')" id="ponente6">
          <p>"Cómo teletrabajar con un buen café. Vete a un coworking"</p>
          <p> Paula Gonzalez</p>
        </div>
      </div>


      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">13</span>
            <span>: 45</span>
          </div>
          <div>
            <span class="diary__time--ent">15</span>
            <span>: 00</span>
          </div>
        </div>
        <div class="diary__act">
          <p>Networking</p>
        </div>
      </div>

    </div>
  </article>

  <article class="modal hidden" id="myModal">
    <div class="modal__container" id="modalContent"><button class="modal__close" onclick="closeModal()">Volver</button>
    </div>
  </article>


</section>