<footer class="footer">
  <section class="footer_content">
    <a href="https://twitter.com/WTMMadrid" target="_blank">
      <i class="fa-brands fa-x-twitter footer_content-icons"></i>
    </a>
    <a href="https://www.linkedin.com/in/wtmmadrid/" target="_blank">
      <i class="fa-brands fa-linkedin footer_content-icons"></i>
    </a>
    <a href="https://www.instagram.com/wtmmadrid/" target="_blank">
      <i class="fa-brands fa-instagram footer_content-icons"></i>
    </a>

  </section>


  <section class="sectionFT">
    <div>
      <h4 class="fContainer_fTitle">Contacto</h4>
      <a href="mailto:womentechmakersmadrid@gmail.com">
        <p class="fContainer_fEmail">womentechmakersmadrid@gmail.com</p>
      </a>
      </a>
    </div>

    <div class="fContainer">
      <h4 class="fContainer_fTitle">Localización</h4>
      <p class="fContainer_fText">Talent Garden</p>
      <p class="fContainer_fText2">C. de Juan de Mariana, 15
      <p class="fContainer_fText2">Arganzuela, 28045 Madrid</p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12153.900163777902!2d-3.686344!3d40.398326!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422706bff431ad%3A0xe1297343074f52c0!2sTalent%20Garden%20Madrid!5e0!3m2!1ses!2ses!4v1706619070524!5m2!1ses!2ses"
        width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div>
      <a href="./codigo.html">
        <h4 class="fContainer_fTitle">Código de conducta</h4>
      </a>
    </div>
  </section>
  </div>
  <p class="fContainer_fTextCopy">
    Made with 💙 by <a class="contact" href="https://www.linkedin.com/in/ainhoadlhs/" target="_blank" rel="noopener noreferrer">Ainhoa</a>, <a class="contact" href="https://www.linkedin.com/in/alba-gg/"
      target="_blank" rel="noopener noreferrer">Alba</a>, <a  class="contact" href="https://www.linkedin.com/in/aranzazu-barrutia-1b4a0181/" target="_blank"
      rel="noopener noreferrer">Aránzazu</a>, <a class="contact" href="https://www.linkedin.com/in/cristinarodriguezgar/" target="_blank" rel="noopener noreferrer">Cris</a> and
    <a class="contact" href="https://www.linkedin.com/in/raquel5deabril/" target="_blank" rel="noopener noreferrer">Rachel</a> &copy; 2024
  </p>
</footer>