<header class="header">
  <nav class="navbar">
    <a href="index.html#hero" class="navbar_a">
      <img class="navbar_a-logo js-menu" src="./assets/images/Logo-blanco.png" alt="Logo Women TechMakers">
    </a>
    <div class="navbar_items">
      <div class="navbar_items-menu">
        <a class="navbar_items-menu-a js-menu" href="index.html#home">Home</a>
        <!-- <a class="navbar_items-menu-a js-menu" href="index.html#agenda">Agenda</a>
        <a class="navbar_items-menu-a js-menu" href="index.html#ponentes">Ponentes</a> -->
        <a class="navbar_items-menu-a js-menu" href="index.html#organizacion">Organización</a>
        <a class="navbar_items-menu-a js-menu" href="index.html#patrocinadores">Patrocinadores</a>
      </div>
      <div class="navbar_items-extra">
        <a class="navbar_items-extra-a js-menu"  href="#">Entradas</a>
      </div>
    </div>
    <div class="nav_toggle">
        <span></span>
        <span></span>
        <span></span>
</div>
</header>