<section class="hero" id="hero">
    <div class="hero_box">
        <img class="hero_box-img" src="./assets/images/wtm-impact.png" alt=" Imagen Impact the future">
        <ul class="hero_box_ul">
            <li class="hero_box_ul-li">
                <img class="hero_box_ul-li-img" src="./assets/images/calendario.png" alt="Icono calendario">
                <p class="hero_box_ul-li-p">27 de abril de 2024</p>
            </li>
            <li class="hero_box_ul-li">
                <img class="hero_box_ul-li-img" src="./assets/images/mapa.png" alt="Icono mapa">
                <p class="hero_box_ul-li-p">Talent Garden<br>
                    <span class="hero_box_ul-li-p-span"> C. de Juan de Mariana, 15</span>
                </p>
            </li>
        </ul>
    </div>
</section>  