<section class="home" id="home">
  <section class="home_section">
    <div>
      <p class="home_section-p">
        El 27 de abril tienes una cita en nuestra séptima edición del evento
        <strong>Women Techmakers Madrid.</strong>
        <br />
      <p class="home_section-p">
        Women Techmakers es una iniciativa liderada por Google, que se está
        expandiendo a un programa a nivel mundial.
        <strong>Con motivo del Día Internacional de la Mujer</strong>
        , se promueven diferentes eventos alrededor del mundo con el objetivo de
        dar a conocer el trabajo y el conocimiento de las mujeres en el sector
        técnico.
        <br />
      </p>
      <p class="home_section-p">En Madrid
        <strong>queremos juntar a las mejores ponentes</strong>
        para que puedan compartir con todos nosotros su conocimiento. Y recordad
        que
        <strong>los chicos también están invitados</strong>
        a asistir al evento.
        <br />
      </p>
    </div>
    <img class="home_section-img" src="./assets/images/home.jpg" alt="Imagen IWD 2023" />
  </section>
  <section class="home_call">
    <div class="home_call-boxhome">
      <p class="home_call-pcenter"><strong>¡Anímate a
        compartir tus conocimientos!</strong></p>

      <a href="https://docs.google.com/forms/d/e/1FAIpQLScCy3eS1xD6hr7Qk7qXLyJc3xjqn4j56GfH6mf2quHjBqe9zQ/viewform
" target="_blank"><button type="button" name="speakers" class="home_call-button">¿Quieres participar?</button></a>
    </div>
    <div class="home_call-boxhome">
      <p class="home_call-pcenter"><strong>¿Te gustaría ayudarnos a hacerlo posible?</strong></p>
      <a href="https://forms.gle/MBRnzQDp7StPXxa27" target="_blank"><button type="button" name="speakers"
          class="home_call-button">¿Quieres apoyarnos?</button></a>

    </div>
  </section>
</section>