<section class="sectionCode">
    <h2 class="sectionCode__titleC">Código de conducta</h2>
    <h3 class="sectionCode__subTitleC">la versión rápida</h3>
    <p class="sectionCode__textTitleC">Requerimos que todos los asistentes, ponentes, patrocinadores y
        voluntarios de nuestra conferencia estén
        de acuerdo con el siguiente código de conducta. La organización se encargará de que se cumpla durante el
        evento. Esperamos la colaboración de todos los participantes para ayudar a construir un entorno seguro
        para todo el mundo.</p>
    <h3 class="sectionCode__subTitleC">la versión no tan rápida</h3>
    <p class="sectionCode__textTitleC">Incluímos como acoso los comentarios verbales ofensivos relacionados con
        el género, la identidad o
        expresión de género, edad, orientación sexual, discapacidad, apariencia física, raza, religión, imágenes
        sexuales en espacios públicos, intimidación deliberada, acecho, persecución, el acoso con fotografías o
        vídeos, la interrupción sostenida de charlas u otros eventos, el contacto físico inapropiado y la
        atención sexual indeseada. Los patrocinadores también se encuentran sujetos a esta política. En
        concreto, los patrocindores no deben usar imágenes, actividades u otro material sexualizado. El personal
        (incluyendo los voluntarios) no debe utilizar ropa/uniformes/disfraces sexualizados, o crear de ninguna
        otra forma un entorno sexualizado. Si un participante tiene un comportamiento de acoso, los
        organizadores de la conferencia podrán tomar cualquier acción que consideren apropiada, incluyento
        advertir al infractor o su expulsión de la conferencia. Si estás siendo acosado, ves a alguien que lo
        está siendo o tienes alguna otra preocupación, por favor contacta con algún miembro de la organización
        inmediatamente. Los miembros de la organización estarán encantados de ayudar a los participantes a
        contactar con la seguridad del sitio o la policía local, proveer escolta o asistir de otra manera para
        ayudar a quienes están siendo acosados a sentirse seguros durante la conferencia. Valoramos tu
        asistencia. Esperamos que los participantes sigan estas reglas durante la conferencia.</p>
    <div class="boxCode">
        <img class="boxCode__hugImg" src="./assets/images/abrazo.png" alt="icono de abrazo">
        <p class="boxCode__creditC">Original source and credit: <a class="a" href="http://2012.jsconf.us/#/about"
                target="_blank">http://2012.jsconf.us/#/about</a> & The Ada
            Initiative</p>
        <p class="boxCode__creditC">
            Please help by translating or improving: <a class="a" href="http://github.com/leftlogic/confcodeofconduct.com"
                target="_blank">http://github.com/leftlogic/confcodeofconduct.com</a></p>
        <p class="boxCode__creditC">
            This work is licensed under a <a class="a" href="https://creativecommons.org/licenses/by/3.0/deed.en"
                target="_blank">Creative Commons Attribution 3.0 Unported License</a></p>
    </div>
</section>