<section class="organitation" id="organizacion">
  <h2 class="organitation__title">ORGANIZACIÓN</h2>
  <div class="organitation__img">
    <div>
      <div class="organitation__img_container container">
        <img src="./assets/images/ariSFlor.png" class="organitation__img_container_unique img"
          alt="Imagen de Ariane Jurado" />
      </div>
      <div class="organitation__img_name">
        <p class="organitation__img_name-p">Ariane Jurado</p>
        <a class="organitation__img_name-icon" href="https://twitter.com/ari_reinventada" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="organitation__img_name-icon" href="https://www.linkedin.com/in/arianejuradodebilbao/" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>
    <div>
      <div class="organitation__img_container container">
        <img src="./assets/images/raquelBenitoSFlor.png" class="organitation__img_container_unique img"
          alt="Imagen de Raquel Benito" />
      </div>
      <div class="organitation__img_name">
        <p class="organitation__img_name-p">Raquel Benito</p>
        <a class="organitation__img_name-icon" href="https://www.linkedin.com/in/raquelbenitoc/" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>
    <div>
      <div class="organitation__img_container container">
        <img src="./assets/images/merySFlor.png" class="organitation__img_container_unique img"
          alt="Imagen de Mª Ángeles Espinosa" />
      </div>
      <div class="organitation__img_name">
        <p class="organitation__img_name-p">Mª Ángeles Espinosa</p>
        <a class="organitation__img_name-icon" href="https://twitter.com/mery_espi" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="organitation__img_name-icon" href="https://www.linkedin.com/in/mariaangelesespinosa" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>
    <div>
      <div class="organitation__img_container container">
        <img src="./assets/images/lauraSFlor.png" class="organitation__img_container_unique img"
          alt="Imagen de Laura Lacarra" />
      </div>
      <div class="organitation__img_name">
        <p class="organitation__img_name-p">Laura Lacarra</p>
        <a class="organitation__img_name-icon" href="https://twitter.com/LauraLacarra" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="organitation__img_name-icon" href="https://www.linkedin.com/in/lauralacarra/
          " target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>
    <div>
      <div class="organitation__img_container container">
        <img src="./assets/images/lauraMorilloSFlor.png" class="organitation__img_container_unique img"
          alt="Imagen de Laura Morillo" />
      </div>
      <div class="organitation__img_name">
        <p class="organitation__img_name-p">Laura Morillo</p>
        <a class="organitation__img_name-icon" href="https://twitter.com/laura_morillo" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="organitation__img_name-icon" href="https://es.linkedin.com/in/lauramorillovelarderodriguez" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>
    
    <div>
      <div class="organitation__img_container container">
        <img src="./assets/images/maritereSFlor.png" class="organitation__img_container_unique img"
          alt="Imagen de Maritere Nieto" />
      </div>
      <div class="organitation__img_name">
        <p class="organitation__img_name-p">Maritere Nieto</p>
        <a class="organitation__img_name-icon" href="https://twitter.com/_mtnieto/" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="organitation__img_name-icon" href="https://www.linkedin.com/in/mariateresanieto/" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>


    <div>
      <div class="organitation__img_container container">
        <img src="./assets/images/xaviSFlor.png" class="organitation__img_container_unique img"
          alt="Imagen de Xavier Portilla" />
      </div>
      <div class="organitation__img_name">
        <p class="organitation__img_name-p">Xavier Portilla</p>
        <a class="organitation__img_name-icon" href="https://twitter.com/Xavidop" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="organitation__img_name-icon" href="https://www.linkedin.com/in/xavierportillaedo/" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</div>

    <!--  fin organizadores  -->

    <div>
      <h3 class="lineOrganization">Colaboradoras</h3>
    <hr class="lineOrganization__line">
    </div>
   
    <div class="organitation__img"><div>
      <div class="organitation__img_container container">
        <img src="./assets/images/ainhoaSFlor.png" class="organitation__img_container_unique img"
          alt="Nombre de la ponente" />
      </div>
      <div class="organitation__img_name">
        <p class="organitation__img_name-p">Ainhoa de las Heras</p>
        <a class="organitation__img_name-icon" href="https://twitter.com/ainhoadlhs" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="organitation__img_name-icon" href="https://www.linkedin.com/in/ainhoadlhs/" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>

    <div>
      <div class="organitation__img_container container">
        <img src="./assets/images/Alba.png" class="organitation__img_container_unique img"
          alt="Nombre de la ponente" />
      </div>
      <div class="organitation__img_name">
        <p class="organitation__img_name-p">Alba Ginés</p>
        <a class="organitation__img_name-icon" href="https://twitter.com/developerdrm" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="organitation__img_name-icon" href="https://www.linkedin.com/in/alba-gg" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>
    <div>
      <div class="organitation__img_container container">
        <img src="./assets/images/Aranzazu.png" class="organitation__img_container_unique img"
          alt="Nombre de la ponente" />
      </div>
      <div class="organitation__img_name">
        <p class="organitation__img_name-p">Aranzazu Barrutia</p>
        <a class="organitation__img_name-icon" href="https://www.linkedin.com/in/aranzazu-barrutia-1b4a0181/" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>
    <div>
      <div class="organitation__img_container container">
        <img src="./assets/images/crisSFlor.png" class="organitation__img_container_unique img"
          alt="Nombre de la ponente" />
      </div>
      <div class="organitation__img_name">
        <p class="organitation__img_name-p">Cristina Rodríguez</p>
        <a class="organitation__img_name-icon" href="https://twitter.com/cristirogar" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="organitation__img_name-icon" href="https://www.linkedin.com/in/cristinarodriguezgar/" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>

    <div>
      <div class="organitation__img_container container">
        <img src="./assets/images/rachelSFlor.png" class="organitation__img_container_unique img"
          alt="Nombre de la ponente" />
      </div>
      <div class="organitation__img_name">
        <p class="organitation__img_name-p">Raquel Ortiz</p>
        <a class="organitation__img_name-icon" href="https://www.linkedin.com/in/raquel5deabril/" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>

 
</section>