<section class="sponsors" id="patrocinadores">
  <h2 class="sponsors__title">PATROCINADORES</h2>
  <div class="sponsors__img">

    <h3 class="sponsors__img_level_title">Platinum sponsors</h3>
    <hr class="sponsors__line">
    <div class="sponsors__img_level_pla">
      <div>
        <a class="sponsors__img_level_a" href="https://www.capgemini.com/es-es/" target="_blank">
          <img class="sponsors__img_level_unique" src="./assets/images/Capgemini.png" alt="Logo Capgemini"/>
        </a>
      </div>
      <!-- <div>
        <a class="sponsors__img_level_a" href="https://gdg.community.dev/gdg-madrid/" target="_blank">
          <img class="sponsors__img_level_unique" src="./assets/images/logo-gdg-removebg-preview.png" />
        </a>
      </div> -->
    </div>

    <h3 class="sponsors__img_level_title">Gold sponsors</h3>
    <hr class="sponsors__line">
    <div class="sponsors__img_level_pla">
      <div>
        <a class="sponsors__img_level_a" href="https://es.audiense.com/" target="_blank">
          <img class="sponsors__img_level_unique gold" src="./assets/images/Audiense.png" alt="Logo Audiense"/>
        </a>
      </div>
      <!-- <div>
        <a class="sponsors__img_level_a" href="https://gdg.community.dev/gdg-madrid/" target="_blank">
          <img class="sponsors__img_level_unique gold" src="./assets/images/logo-gdg-removebg-preview.png" />
        </a>
      </div>
      <div>
        <a class="sponsors__img_level_a" href="https://gdg.community.dev/gdg-madrid/" target="_blank">
          <img class="sponsors__img_level_unique gold" src="./assets/images/logo-gdg-removebg-preview.png" />
        </a>
      </div> -->
    </div>

    <!-- <h3 class="sponsors__img_level_title">Silver sponsors</h3>
    <hr class="sponsors__line">
    <div class="sponsors__img_level_pla">
      <div>
        <a class="sponsors__img_level_a" href="https://gdg.community.dev/gdg-madrid/" target="_blank">
          <img class="sponsors__img_level_unique silver" src="./assets/images/logo-gdg-removebg-preview.png" />
        </a>
      </div>
      <div>
        <a class="sponsors__img_level_a" href="https://gdg.community.dev/gdg-madrid/" target="_blank">
          <img class="sponsors__img_level_unique silver" src="./assets/images/logo-gdg-removebg-preview.png" />
        </a>
      </div>
      <div>
        <a class="sponsors__img_level_a" href="https://gdg.community.dev/gdg-madrid/" target="_blank">
          <img class="sponsors__img_level_unique silver" src="./assets/images/logo-gdg-removebg-preview.png" />
        </a>
      </div>
    </div> -->

    <h3 class="sponsors__img_level_title">Asociaciones Colaboradoras</h3>
    <hr class="sponsors__line">
    <div class="sponsors__img_level_pla">
      <div>
        <a class="sponsors__img_level_a" href="https://gdg.community.dev/gdg-madrid/" target="_blank">
          <img class="sponsors__img_level_unique silver" src="./assets/images/logo-gdg-removebg-preview.png" />
        </a>
      </div>
      <!-- <div>
        <a class="sponsors__img_level_a" href="https://gdg.community.dev/gdg-madrid/" target="_blank">
          <img class="sponsors__img_level_unique silver" src="./assets/images/logo-gdg-removebg-preview.png" />
        </a>
      </div>
      <div>
        <a class="sponsors__img_level_a" href="https://gdg.community.dev/gdg-madrid/" target="_blank">
          <img class="sponsors__img_level_unique silver" src="./assets/images/logo-gdg-removebg-preview.png" />
        </a>
      </div> -->
    </div>
  </div> 
  <a class="sponsors_a" href="https://forms.gle/MBRnzQDp7StPXxa27" target="_blank"><button type="button" name="sponsors"
      class="sponsors_button">¿Quieres apoyarnos?</button></a>
</section>