<section class="speakers" id="ponentes">
  <h2 class="speakers__title">PONENTES</h2>
  <div class="speakers__img">
    <div>
      <div class="speakers__img_container container" onclick="speakerOpen('Ponente 1')" id="ponente1">
        <img src="./assets/images/anaGilS.png" class="speakers__img_container_unique img" alt="Nombre de la ponente" />
      </div>
      <div class="speakers__img_name">
        <p class="speakers__img_name-p">Ana Gil Amor</p>
        <a class="speakers__img_name-icon" href="https://twitter.com/manosfrias" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="speakers__img_name-icon" href="https://linkedin.com/in/anagilamor" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>

    <div>
      <div class="speakers__img_container container" onclick="speakerOpen('Ponente 2')" id="ponente2">
        <img src="./assets/images/angelesVPS.png" class="speakers__img_container_unique img"
          alt="Nombre de la ponente" />
      </div>
      <div class="speakers__img_name">
        <p class="speakers__img_name-p">Ángeles Vázquez</p>
        <a class="speakers__img_name-icon" href="https://twitter.com/avazpar" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="speakers__img_name-icon" href="https://www.linkedin.com/in/angeles-vazquez-parra/" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>

    <div>
      <div class="speakers__img_container container" onclick="speakerOpen('Ponente 3')" id="ponente3">
        <img src="./assets/images/estherMoraS.png" class="speakers__img_container_unique img"
          alt="Nombre de la ponente" />
      </div>
      <div class="speakers__img_name">
        <p class="speakers__img_name-p">Esther Mora</p>
        <a class="speakers__img_name-icon" href="https://twitter.com/esthermora450" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="speakers__img_name-icon" href="https://www.linkedin.com/in/esther-mora-uribes-58b6179/"
          target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>

    <div>
      <div class="speakers__img_container container" onclick="speakerOpen('Ponente 4')" id="ponente4">
        <img src="./assets/images/mariaIsabelMartinS.png" class="speakers__img_container_unique img"
          alt="Nombre de la ponente" />
      </div>
      <div class="speakers__img_name">
        <p class="speakers__img_name-p">Marisa Martín</p>

        <a class="speakers__img_name-icon" href="https://www.linkedin.com/in/marisa-martin-serrano-17a94057/"
          target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>

    <div>
      <div class="speakers__img_container container" onclick="speakerOpen('Ponente 5')" id="ponente5">
        <img src="./assets/images/martaRomeroS.png" class="speakers__img_container_unique img"
          alt="Nombre de la ponente" />
      </div>
      <div class="speakers__img_name">
        <p class="speakers__img_name-p">Marta Romero</p>

        <a class="speakers__img_name-icon" href="https://www.linkedin.com/in/marta-romero-garc%C3%ADa-rubio-8202b8142/"
          target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>

    <div>
      <div class="speakers__img_container container" onclick="speakerOpen('Ponente 6')" id="ponente6">
        <img src="./assets/images/nataliaMiraS.png" class="speakers__img_container_unique img"
          alt="Nombre de la ponente" />
      </div>
      <div class="speakers__img_name">
        <p class="speakers__img_name-p">Natalia Mira
        </p>
        <a class="speakers__img_name-icon" href="https://twitter.com/nataliams91" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="speakers__img_name-icon" href="https://es.linkedin.com/in/natalia-mira-serna" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>

    <div>
      <div class="speakers__img_container container" onclick="speakerOpen('Ponente 7')" id="ponente7">
        <img src="./assets/images/noeMedinaS.png" class="speakers__img_container_unique img"
          alt="Nombre de la ponente" />
      </div>
      <div class="speakers__img_name">
        <p class="speakers__img_name-p">Noe Medina
        </p>
        <a class="speakers__img_name-icon" href="https://twitter.com/n03m1ms" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="speakers__img_name-icon" href="https://www.linkedin.com/in/noemedina/" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>


    <div>
      <div class="speakers__img_container container" onclick="speakerOpen('Ponente 8')" id="ponente8">
        <img src="./assets/images/paolaGarciaS.png" class="speakers__img_container_unique img"
          alt="Nombre de la ponente" />
      </div>
      <div class="speakers__img_name">
        <p class="speakers__img_name-p">Paola García
        </p>
        <a class="speakers__img_name-icon" href="https://twitter.com/ggarciapaola" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="speakers__img_name-icon" href="https://www.linkedin.com/in/paolagarcia" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>

    <div>
      <div class="speakers__img_container container" onclick="speakerOpen('Ponente 9')" id="ponente9">
        <img src="./assets/images/pattyOS.png" class="speakers__img_container_unique img" alt="Nombre de la ponente" />
      </div>
      <div class="speakers__img_name">
        <p class="speakers__img_name-p">Patty O'Callaghan
        </p>
        <a class="speakers__img_name-icon" href="https://twitter.com/pattyneta" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="speakers__img_name-icon" href="https://www.linkedin.com/in/patty-ocallaghan/" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>


    <div>
      <div class="speakers__img_container container" onclick="speakerOpen('Ponente 10')" id="ponente10">
        <img src="./assets/images/raquelLaindeS.png" class="speakers__img_container_unique img"
          alt="Nombre de la ponente" />
      </div>
      <div class="speakers__img_name">
        <p class="speakers__img_name-p">Raquel Lainde
        </p>
        <a class="speakers__img_name-icon" href="https://twitter.com/lainde" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="speakers__img_name-icon" href="https://www.linkedin.com/in/raquellainde/" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>

  </div>
  <div class="modalBoxes hid" id="modalBox">
    <div class="modalBoxes__text rowreverse" id="modalText">
    </div>
  </div>

  <!-- <a class="speakers_a" href="
https://docs.google.com/forms/d/e/1FAIpQLScCy3eS1xD6hr7Qk7qXLyJc3xjqn4j56GfH6mf2quHjBqe9zQ/viewform
" target="_blank"><button type="button" name="speakers" class="speakers_button">¿Quieres participar en el
      evento?</button></a> -->
</section>