<section class="speakers" id="ponentes">
  <h2 class="speakers__title">PONENTES</h2>
  <div class="speakers__img">
    <div>
      <div class="speakers__img_container container" onclick="speakerOpen('Ponente 1')" id="ponente1">
        <img src="./assets/images/ainhoaSFlor.png" class="speakers__img_container_unique img"
          alt="Nombre de la ponente" />
      </div>
      <div class="speakers__img_name">
        <p class="speakers__img_name-p">Nombre ponente</p>
        <a class="speakers__img_name-icon" href="https://www.linkedin.com/in/alba-gg" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="speakers__img_name-icon" href="https://www.linkedin.com/in/alba-gg" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>

    <div>
      <div class="speakers__img_container container" onclick="speakerOpen('Ponente 2')" id="ponente2">
        <img src="./assets/images/Alba.png" class="speakers__img_container_unique img" alt="Nombre de la ponente" />
      </div>
      <div class="speakers__img_name">
        <p class="speakers__img_name-p">Nombre ponente</p>
        <a class="speakers__img_name-icon" href="https://www.linkedin.com/in/alba-gg" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="speakers__img_name-icon" href="https://www.linkedin.com/in/alba-gg" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>

    <div>
      <div class="speakers__img_container container" onclick="speakerOpen('Ponente 3')" id="ponente3">
        <img src="./assets/images/Aranzazu.png" class="speakers__img_container_unique img" alt="Nombre de la ponente" />
      </div>
      <div class="speakers__img_name">
        <p class="speakers__img_name-p">Nombre ponente</p>
        <a class="speakers__img_name-icon" href="https://www.linkedin.com/in/alba-gg" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="speakers__img_name-icon" href="https://www.linkedin.com/in/alba-gg" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>

    <div>
      <div class="speakers__img_container container" onclick="speakerOpen('Ponente 4')" id="ponente4">
        <img src="./assets/images/crisSFlor.png" class="speakers__img_container_unique img"
          alt="Nombre de la ponente" />
      </div>
      <div class="speakers__img_name">
        <p class="speakers__img_name-p">Nombre ponente</p>
        <a class="speakers__img_name-icon" href="https://www.linkedin.com/in/alba-gg" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="speakers__img_name-icon" href="https://www.linkedin.com/in/alba-gg" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>

    <div>
      <div class="speakers__img_container container" onclick="speakerOpen('Ponente 5')" id="ponente5">
        <img src="./assets/images/rachelSFlor.png" class="speakers__img_container_unique img"
          alt="Nombre de la ponente" />
      </div>
      <div class="speakers__img_name">
        <p class="speakers__img_name-p">Nombre ponente</p>
        <a class="speakers__img_name-icon" href="https://www.linkedin.com/in/alba-gg" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="speakers__img_name-icon" href="https://www.linkedin.com/in/alba-gg" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>

    <div>
      <div class="speakers__img_container container" onclick="speakerOpen('Ponente 6')" id="ponente6">
        <img src="./assets/images/maritereSFlor.png" class="speakers__img_container_unique img"
          alt="Nombre de la ponente" />
      </div>
      <div class="speakers__img_name">
        <p class="speakers__img_name-p">Nombre ponente</p>
        <a class="speakers__img_name-icon" href="https://www.linkedin.com/in/alba-gg" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="speakers__img_name-icon" href="https://www.linkedin.com/in/alba-gg" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="modalBoxes hid" id="modalBox">
    <div class="modalBoxes__text" id="modalText">
    </div>
  </div>

  <a class="speakers_a" href="
https://docs.google.com/forms/d/e/1FAIpQLScCy3eS1xD6hr7Qk7qXLyJc3xjqn4j56GfH6mf2quHjBqe9zQ/viewform
" target="_blank"><button type="button" name="speakers" class="speakers_button">¿Quieres participar en el
      evento?</button></a>
</section>