@mixin textStyle($color, $fontFamily, $fontSize, $fontWeight, $lineHeight) {
  color: $color;
  font-family: $fontFamily;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin dFlex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin padding ($inline, $block){
  padding-inline: $inline;
  padding-block: $block;
}

@mixin margin ($inline, $block){
  margin-inline: $inline;
  margin-block: $block;
}

@mixin btn ($border, $radius, $background){
  border: $border;
  border-radius: $radius;
  background: $background;
}
