// Tipos de letras
$merriweather: "Merriweather", sans-serif;
$montserrat: "Montserrat", sans-serif;
$openSans: "Open Sans", sans-serif;
$font-main: 'Roboto', sans-serif;

// Grosor letras
$bold: 700;
$semiBold: 600;
$medium: 500;
$regular: 400;

//colores oficiales

//azules
$bluePastel: #54a7ed;
$blue: #2480f0;
$blue500: #379cfa;
$blue400: #5cbbfe;
$blue300: #90d4ff;
$blue200: #bde4ff;
$blue100: #daefff;
$blue50: #eff8ff;

//verdes
$greenPastel: #00dba2;
$green: #00b698;

//coral y otros
$orangePastel: #ffc4a2;
$coral: #ff676a; 
$black: #202124;
$white: #ffffff;


//nuestros colores
$turquoiseDark: #009182f3;
$turquoise: #00bba8f3;
$turquoisePastel: #84e0d7da;
$turquoiseLight: #dff8f6da;
$background1: rgba(128, 128, 128, 0.116);
$blueM: #6789C6;
$grey: rgb(124, 122, 122);
$blackTransparent: rgba(3, 3, 3, 0.452);

