.hero {
  height: 100vh;
  background-image: url(../images/madrid1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
    &_box{
      background-color: rgba(255, 255, 255, 0.884);
      width: 80%;
      height: 70%;
      border-radius: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @media (min-width: 600px){
        width: 80%;
        height: 65%;
      }
      @media (min-width: 900px){
        //justify-content: space-evenly;
        width: 70rem;
        height: 46rem;  
      }
      &-img {
        width: 15rem;
        @media (max-height: 600px){width: 10rem;}
        @media (min-width: 600px){width: 25rem;}
        @media (min-width: 900px){width: 30rem;}
      }
      &_ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        @media (min-width: 600px){
          display: flex;
          flex-direction: row;
          align-items: center;
          list-style-type: none;
          text-align: flex-start;
          gap: 5rem;
          padding-inline: 3rem;
        }
        @media (min-width: 900px){gap: 10rem;}
        &-li{
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          @media (min-width: 600px){
            box-sizing: border-box;
          }
          @media (min-width: 900px){margin-top: -5rem;}
          &-img{
            width: 8rem;
            @media (max-height: 600px){width: 5rem;}
            @media (min-width: 900px){width: 10rem;}
          }
          &-p{
            @include textStyle($blue500, $montserrat, 1.5rem, $bold, 1);
            @media (min-width: 900px){font-size: 2rem;}
            &-span{
              @include textStyle($blue500, $montserrat, 1.3rem, $semiBold, 1);
              @media (min-width: 900px){font-size: 1.5rem;}
            }
          }
        }
    } 
  }
}
